[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
groq = "*"
agno = "*"
duckduckgo-search = "*"
dotenv = "*"
openai = "*"
pytubefix = "*"
moviepy = "*"

[dev-packages]

[requires]
python_version = "3.13"
